{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "import",
    "jest"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "import/no-named-as-default": 0,
    "import/extensions": "off"
  },
  "env": {
    "node": true,
    "jest/globals": true
  }
}
